<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="org.yoon.mapper.GBoardMapper">
	  	<!-- 검색 조건 -->
	<sql id="criteria">
		<trim prefixOverrides="OR" prefix="(" suffix=") AND">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">title like '%'||#{keyword}||'%'</when>
						<when test="type == 'C'.toString()">content like '%'||#{keyword}||'%'</when>
						<when test="type == 'W'.toString()">writer like '%'||#{keyword}||'%'</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 글 페이징 출력 -->
	<select id="getListPaging" resultType="org.yoon.domain.BoardVO">
		<![CDATA[
		select
			bno, title, content, writer, regdate, updatedate, replycnt, visit, recomend
		from
			(
			select /*+INDEX_DESC(g_board pk_g_board) */
	        	rownum rn, bno, title, content, writer, regdate, updatedate, replycnt, visit, recomend
	        from
	        	board
	        where type='갤러리'	and
			
		]]>
		<include refid="criteria"/>
		<![CDATA[
			rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum} -1 )* #{amount}	
		]]>
	</select>

  	<!-- 글등록-->
	<insert id="insert">
		insert into board (bno, title, content, writer,type)
		values (board_sequence.nextval, #{title}, #{content}, #{writer},'갤러리')
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey resultType="Long" order="BEFORE" keyProperty="bno">select board_sequence.nextval from dual</selectKey>
		insert into board (bno, title, content, writer, type)
		values (#{bno}, #{title}, #{content}, #{writer},'갤러리')
	</insert>
	
	<!-- 조회수 올리기 -->
	<update id="getMoreVisit">
		update board set visit = nvl(visit, 0)+1 where bno = #{bno}
	</update>
	
	<!-- 전체 글 숫자 출력 -->
	<select id="getTotal" resultType="_int">
		select count(*) from board 
		where bno > 0 and type='갤러리'
	</select>

	<!-- 글 상세보기-->
	<select id="read" resultType="org.yoon.domain.BoardVO">
		select * from board where bno = #{bno}
	</select>
	
	<!-- 글 삭제하기 -->
	<delete id="delete" >
		delete from board where bno = #{bno}
	</delete>
	
	<!-- 글 수정하기 -->
	<update id="update">
		update board
	set title = #{title},
	content = #{content},
	writer = #{writer},
	updatedate = sysdate
	where bno = #{bno}
	</update>
	
	<!-- 글 추천 -->
	<insert id="recomend" parameterType="HashMap">
		insert into 
		rcm_g_board(userid, bno, rcm_cnt) values(#{userid}, #{bno}, default)
	</insert>
	
	<!-- 게시글 추천 수 증가 -->
	<update id="getMoreRecomend" >
		update board set recomend=nvl(recomend, 0)+1 where bno = #{bno}
	</update>

	<!-- 게시글 추천 수 감소 -->
	<update id="reduceRecomend" >
		update board set recomend=nvl(recomend, 0)-1 where bno = #{bno}
	</update>
	
	<!-- 추천여부 조회 -->
	<select id="checkRecomend" resultType="int" parameterType="HashMap">
		select count(rcm_cnt) from rcm_g_board where bno = #{bno} and userid = #{userid}
	</select>
	
	<!-- 추천 취소하기 -->
	<delete id="cancelRecomend" parameterType="HashMap">
		delete from rcm_g_board where bno = #{bno} and userid = #{userid}
	</delete>
	
	<!-- 최신글 가져오기 -->
	<select id="getNewList" resultType="org.yoon.domain.BoardVO">
		<![CDATA[
			select * 
			from( select * from board where type='갤러리'order by regdate desc ) 
			where rownum <= 5
		]]>
	</select>
	
	<!-- 베스트 글 가져오기 -->
	<select id="getBestList" resultType="org.yoon.domain.BoardVO">
		<![CDATA[
			select * 
			from( select * from board where type='갤러리' order by recomend desc )
			where rownum <= 5
		]]>
	</select>
  </mapper>